extends ./layout.pug
block content
    h2 Logo
    p We’re here to help and answer any questions you might have. We look forward to hearing from you.
    h2 Contact Us
        div Call: (123)456-7890
        div Time: Everyday from 10am - 10pm
        div Address: Calgary, AB
    h2 Subscribe