doctype html
html
include navbar 
head
    title Restaurant site using Node.js, Express and Pug
    link(rel='stylesheet', href='/css/styles.css')
    block styles
    scripts(src='/js/script.js')
    block scripts
body
    +navbar(["home", "about", "menu", "contact","reservation"], currentTab= (currentTab || null))
    block content