@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 9;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body {
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

  background: #f3f3f3;
}

.menus-container {
  display: inline-block;
  max-height: 200px;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 40px;
}

.menus-image {
  max-height: 200px;
  max-width: 250px;
}

.tab-container {
  flex: 1 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.reserve-container {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 40px;
}

.reserve-container {
  padding: 10px;
}

.reserve-container {
  padding: 10px;
}

.reserve-container input[type="text"],
.reserve-container input[type="file"] {
  font-size: 16px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.reserve-container button,
.reserve-container textarea {
  font-size: 16px;
  padding: 5px;
  margin-left: 10px;
}

textarea {
  min-height: 8em;
}

button {
  font-size: 16px;
  padding: 5px;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 24px;
}
